.submit-btn {
    background-color: #c73e3e;
    border: none;
    color: white;
    padding: 13px 50px;
    text-decoration: none;
    font-size: 15px;
}
.from-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}