@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.form-group label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.form-group input {
  padding: 10px;
  border: none;
  margin-top: 5px;
  font-size: 1rem;
  background-color: rgb(247, 247, 247);
}

.policy {
  margin-bottom: 20px;
}
.policy label {
  margin: 10px;
}

.already {
  margin-bottom: 1.3rem;
}
.already a {
  color: rgb(117, 117, 255);
}

.submit-btn {
  background-color: #c73e3e;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 6rem;
  height: 2.5rem;
}

.submit-btn:hover {
  background-color: #8a2121;
  opacity: 0.8;
  cursor: pointer;
}

.submit-btn:active {
  background-color: #441616;
  opacity: 0.8;
  cursor: pointer;
}

.navbar {
  background-color: #ffffff;
  padding: 0 1rem;
  width: 60%;
  margin-left: 20%;
}

.navbar-div {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.navbar li.active {
  background-color: #555;
  border-radius: 20%;
}

.navbar li:hover {
  background-color: #c5c5c5;
  border-radius: 20%;
}

.navbar .brand {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.nav-links {
  list-style: none;
  gap: 2rem;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.login-form-box {
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(164, 164, 164, 0.1);
  width: 50%;
  margin-left: 25%;
}
.login-form-box .login-title {
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem 0;
}
.login-form-box .login-title-border {
  margin-top: 0.5rem;
  border-bottom: 1px solid lightslategray;
  width: 7%;
}
.login-form-box .login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form-box .login-form .login-input {
  flex: 1;
}
.login-form-box .login-form .login-input .register-link {
  display: flex;
  gap: 1rem;
}
.login-form-box .login-form .login-input .register-link .link {
  text-decoration: none;
}
.login-form-box .login-form .login-input .register-link span {
  font-size: 0.8rem;
  color: crimson;
}
.login-form-box .login-form .login-input label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
}
.login-form-box .login-form .login-input input {
  width: 100%;
  padding: 0.5rem;
  background: whitesmoke;
  border: none;
  outline: none;
}
.login-form-box .login-form .login-input .forgot-pw {
  display: flex;
  justify-content: space-between;
}
.login-form-box .login-form .login-input .forgot-pw .link {
  text-decoration: none;
}
.login-form-box .login-form .login-input .forgot-pw span {
  font-size: 0.8rem;
  color: crimson;
}
.login-form-box .login-form .login-checkbox {
  display: inline-flex;
  gap: 10px;
}
.login-form-box .login-form .login-checkbox label {
  font-size: 0.8rem;
  cursor: pointer;
}
.login-form-box .login-form .login-checkbox input[type=checkbox] {
  background: red;
  border: none;
  outline: none;
  cursor: pointer;
}
.login-form-box .login-form .login-btn {
  font-size: 0.8rem;
  color: white;
  background-color: crimson;
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-start;
}

.login-btn:hover {
  background-color: #8a2121;
  opacity: 0.8;
  cursor: pointer;
}

.login-btn:active {
  background-color: #441616;
  opacity: 0.8;
  cursor: pointer;
}

.home-container-1 {
  background-color: #f5f5f5;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.home-container-1 .home-container-1-1 {
  margin-left: 15vw;
  width: 25vw;
}
.home-container-1 .home-container-1-1 h1 {
  padding: 5% 0 5% 0;
  font-size: 20px;
  color: #444;
}
.home-container-1 .home-container-1-1 p {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10%;
}
.home-container-1 .home-container-1-1 a {
  text-decoration: none;
  background-color: #f22c4d;
  color: white;
  padding: 3.5% 10%;
}
.home-container-1 .home-container-1-2 {
  margin-right: 15vw;
  width: 25vw;
}
.home-container-1 .home-container-1-2 img {
  height: 100%;
  width: 100%;
}

.contact-form-box {
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(164, 164, 164, 0.1);
  width: 50%;
  margin-left: 25%;
}
.contact-form-box .contact-title {
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem 0;
}
.contact-form-box .contact-title-border {
  margin-top: 0.5rem;
  border-bottom: 1px solid lightslategray;
  width: 5%;
}
.contact-form-box .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form-box .contact-form .contact-input-box {
  display: flex;
  gap: 1rem;
}
.contact-form-box .contact-form .contact-input-box .contact-input {
  flex: 1;
}
.contact-form-box .contact-form .contact-input-box .contact-input label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form-box .contact-form .contact-input-box .contact-input input {
  width: 100%;
  padding: 0.5rem;
  background: whitesmoke;
  border: none;
  outline: none;
}
.contact-form-box .contact-form .contact-textfield {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form-box .contact-form .contact-textfield label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form-box .contact-form .contact-textfield textarea {
  padding: 0.5rem;
  background: whitesmoke;
  border: none;
  outline: none;
  resize: none;
}
.contact-form-box .contact-form .contact-checkbox {
  display: inline-flex;
  gap: 10px;
}
.contact-form-box .contact-form .contact-checkbox label {
  font-size: 0.8rem;
  cursor: pointer;
}
.contact-form-box .contact-form .contact-checkbox input[type=checkbox] {
  background: red;
  border: none;
  outline: none;
  cursor: pointer;
}
.contact-form-box .contact-form .contact-button button {
  font-size: 0.8rem;
  color: white;
  background: crimson;
  padding: 0.5rem 2rem;
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.contact-button button:hover {
  background-color: #8a2121;
  opacity: 0.8;
  cursor: pointer;
}

.contact-button button:active {
  background-color: #441616;
  opacity: 0.8;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #c9c9c9;
  padding: 10px 0;
  margin-top: auto;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  line-height: 0.9;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #6b6b6b;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.products-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 20%;
}
.products-container-1 .products-container-2 {
  margin: 1%;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.products-container-1 .products-container-2 h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.products-container-1 .products-container-2 img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-container-1 .products-container-2 p {
  padding-bottom: 2px;
}
.products-container-1 .products-container-2 p span {
  color: green;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 40px;
}
.products-container-1 .products-container-2 h4 {
  margin-top: 5%;
}
.products-container-1 .products-container-2 a {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 5px 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 50px 20px 50px 20px;
}

.details-container-main {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  padding-bottom: 2%;
}
.details-container-main .details-container-1 {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5%;
}
.details-container-main .details-container-1 img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.details-container-main .details-container-2 {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
.details-container-main .details-container-2 .details-container-2-1 h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.details-container-main .details-container-2 .details-container-2-2 {
  display: flex;
  justify-content: space-between;
}
.details-container-main .details-container-2 .details-container-2-2 p {
  font-size: 1.5rem;
  font-weight: bold;
}
.details-container-main .details-container-2 .details-container-2-2 h4 {
  background-color: green;
  padding: 5px 37px;
  border-radius: 50px 20px 50px 20px;
}
.details-container-main .details-container-2 .details-container-2-2 h4 a {
  text-decoration: none;
  color: white;
}

.details-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.5176470588);
  margin-bottom: 5%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}/*# sourceMappingURL=App.css.map */