@import "./assets/variables";
@import "./assets/mixins";
@import "./assets/formpage";
@import "./assets/navbar";
@import "./assets/login";
@import "./assets/home";
@import "./assets/contact";
@import "./assets/products";


* {
    box-sizing: border-box;
}

body {
    height: 100dvh;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
}

